<div class='navigation'>
  <ul>
    <li><a href='/#/links' class='index' >All Links</a></li>
    <li><a href='/#/shorten' class='create'>Shorten</a></li>
  </ul>
    <a href='/logout' class='logout'>Logout</a>
</div>
<div id='container' ng-controller='ShortenController'>
  <form>
    <input class='text' ng-model='link.url' type='url' name='url' required>
    <input type='submit' ng-click='addLink(link.url)' value='Shorten'>
  </form>
  <img class='spinner' src='../assets/spiffygif_46x46.gif'>
  <div class='message'></div>
</div>


