<!-- Your html here -->
<div class='navigation'>
  <ul>
    <li><a ui-sref='/#/links' class='index' >All Links</a></li>
    <li><a ui-sref='/#/shorten' class='create'>Shorten</a></li>
  </ul>
    <a href='/logout' class='logout'>Logout</a>
</div>
<div id='container' ng-controller='LinksController'>
  <input id='searchField' type='text' ng-model="searchText">
  <div class='info' ng-repeat="link in data.links | orderBy:'-visits' | filter:searchText">
    <img src='../assets/redirect_icon.png'/>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url}}</div>
    <!-- IMPORTANT: pay attention to route handling
      linkRoutes listend for /:code
      BUT prior to that, it expects api/links/
     -->
    <a href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
  </div>
</div>
